/* ****** Customr Properties ****** */
:root {
  --color-body: hsla(0, 0%, 22%, 1);
  --color-black: hsla(0, 0%, 0%, 1);
  --color-white: #fff;
  --color-primary-bg: #fccb90;
  --color-secondary-bg: #d57eebb0;
  --font-body: "Poppins", sans-serif;
  --font-size-body: 1.8rem;
  --font-size-title: 5.6rem;
  --font-size-subtitle: 3.6rem;
  --wrapper: max(2rem, 17.4vw - 20rem / 2);
}

/********** Reset **********/

html {
  font-family: var(--font-body);
  font-size: 62.5%;
}

body {
  font-size: var(--font-size-body);
  color: var(--color-body);
}

*:where(:not(iframe, canvas, img, svg, video):not(svg *)) {
  all: unset;
  display: revert;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

ol,
ul {
  list-style: none;
}

img {
  max-width: 100%;
}

table {
  border-collapse: collapse;
}

a {
  cursor: pointer;
}

a:hover {
  text-decoration: underline;
}

p {
  line-height: 27px;
}

h1,
h2 {
  font-weight: 700;
  color: var(--color-black);
}

/* ****** Utilities ****** */
.btn {
  background-color: var(--color-black);
  border-color: transparent;
  color: var(--color-white);
  padding: 17px 23px;
  border-radius: 5px;
  max-width: 23.9rem;
  font-weight: 600;
  cursor: pointer;
}

.btn:hover {
  transition: all 0.5s ease;
  box-shadow: 0.2rem 0.2rem 0.3rem rgba(0, 0, 0, 0.25);
}

/**  Menu **/
.menu-btn {
  cursor: pointer;
}

.menu-btn svg {
  fill: var(--color-black);
}

.menu {
  position: absolute;
  left: 0;
  top: 75px;
  width: 100%;
  height: 100vh;
  display: flex;
  padding-top: 50px;
  flex-direction: column;
  align-items: center;
  row-gap: 25px;
  background-color: var(--color-white);
  background-image: linear-gradient(
    120deg,
    var(--color-primary-bg) 0%,
    var(--color-secondary-bg) 100%
  );
  opacity: 0;
  transition: opacity 0.5s ease;
  pointer-events: none;
}

.menu.is-active {
  opacity: 1;
  pointer-events: auto;
}

@media screen and (min-width: 43.688rem) {
  .menu-btn {
    display: none;
  }

  .menu {
    position: static;
    opacity: 1;
    pointer-events: auto;
    width: auto;
    height: auto;
    flex-direction: row;
    align-items: center;
    column-gap: 24px;
    background-color: transparent;
    background-image: none;
    padding-block: 0;
  }
}

/* ****** Site Styles ****** */
.hero {
  background-image: linear-gradient(
    120deg,
    var(--color-primary-bg) 0%,
    var(--color-secondary-bg) 100%
  );
  padding: 40px var(--wrapper) 0;
}

.header {
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 40px;
}

.menu > img {
  cursor: pointer;
}

span {
  font-weight: 400;
}

.banner {
  display: grid;
  row-gap: 81px;
}

.banner-container {
  display: flex;
  flex-direction: column;
  row-gap: 8px;
  text-align: center;
}

.banner-title {
  font-size: var(--font-size-title);
}

.banner-text {
  max-width: 69.5rem;
  margin: 0 auto;
}

.banner-btn {
  align-self: center;
  margin: 8px 0;
}

.main {
  padding: 80px var(--wrapper) 66px;
  display: flex;
  flex-direction: column;
  row-gap: 60px;
}

.main-img {
  max-width: 432px;
  max-height: 396px;
  margin: 0 auto;
}

.main-article {
  display: grid;
  row-gap: 8px;
}

.main-title {
  font-size: var(--font-size-subtitle);
  line-height: 54px;
}

.main-btn {
  margin-top: 8px;
}

.footer {
  padding: 0 var(--wrapper) 40px;
}

.footer-img {
  margin-bottom: 8px;
}

.footer-list {
  display: flex;
  justify-content: space-between;
  column-gap: 24px;
}

@media screen and (min-width: 43.688rem) {
  .footer {
    display: flex;
    justify-content: space-between;
  }

  .footer-img {
    margin-bottom: 0;
  }
}

@media screen and (min-width: 62.438rem) {
  .main {
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;
  }

  .main-article {
    flex-basis: 628px;
  }
}
